.matrix {
  position: fixed; /* Fija en pantalla como fondo permanente */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  z-index: 0; /* Asegura que quede detrás del contenido visible */
  pointer-events: none; /* No interfiere con clics o interacciones */
}

@media screen and (orientation: landscape) and (max-width: 768px) {
  body {
    transform: rotate(0deg) !important;
    overflow: auto;
  }

  .warning-rotate {
    display: block;
    text-align: center;
    color: red;
    padding: 2rem;
  }
}