/* Corrección para móviles: vertical y horizontal */
@media screen and (max-width: 768px) {
  .portfolio-section .grid {
    grid-template-columns: 1fr;
  }

  .portfolio-section .item {
    flex-direction: column;
  }

  .project-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    min-height: 200px;
    max-height: 260px;
    padding: 0;
    width: 100%;

    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .project-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* Ajuste para que se vea entera sin recortes */
  .project-img-contain {
    object-fit: contain !important;
    background-color: #050505;
    padding: 10px;
    box-sizing: border-box;
  }

  .project-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px 24px;
    width: 100%;
    box-sizing: border-box;

    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
  }

  .project-right p {
    width: 100%;
    text-align: left;
    word-break: break-word;
  }

  .tech-icons {
    justify-content: center;
    flex-wrap: wrap;
  }

  .modal-text h3 {
    font-size: 2rem;
  }

  .modal-text h4 {
    font-size: 1rem;
  }

  .modal-text p {
    font-size: 0.8rem;
  }

  .modal-text ul {
  font-size: 0.8rem;
  }

  /*Icono de plataforma*/
  .platform-icon {
    width: 20px;
    height: 20px;
  }

  /* Ajustes de espacio del modal */
  .modal-content {
    width: 90%;
    max-width: 500px;
    max-height: 85vh;
    padding: 24px 20px;
    box-sizing: border-box;
    border-radius: 16px;
    overflow-y: auto;
  }
}

/* Ajustes específicos para tablets en horizontal (landscape) */
@media screen and (max-width: 1024px) and (orientation: landscape) {
  .portfolio-section {
    padding-left: 40px;
    padding-right: 40px;
  }
}