/* Estilo de Scrollbar moderno */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background: cyan;
  border-radius: 10px;
  box-shadow: 0 0 5px cyan;
}

::-webkit-scrollbar-thumb:hover {
  background: #00ffff;
}